
.Calculator{
    border:5px solid black;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
}
button{
    height: 40px;
    width: 40px;
    
}
#First-Row{
    display: flex;
    align-items: flex-start;
    margin-bottom: 2%;
}
#Clear{
    flex: 1 0 auto;
    background-color: #90C8AC;
}
#Delete{
    flex: 1 0 auto;
    background-color: #D35D6E;
}
#Results{
    max-width: 100% ;
}