
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
html, body{
    height: 100%;   
    background-color: #D1D1D1;
}
.Calculator{
    border: 10px solid black    ;;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
button{
    height: 75px;
    width: 75px;    
    background-color: #e8f1f2;
    gap: 20px;
    
}
#First-Row{
    display: flex;  
    align-items: flex-start;
    margin-bottom: 2%;
}
#Clear{
    flex: 1 0 auto;
    background-color: #90C8AC;
}
#Delete{
    flex: 1 0 auto;
    background-color: #D35D6E;
}
#Results{   
    border: 7px solid black;
    width: 318px;    
    margin: 0;
    vertical-align: bottom;
    overflow: hidden;
    text-overflow: ellipsis;

}
#credit{
    background-color: #e8f1f2;
    border-top: 2px solid black;
    display: flex;
    font-size: 15px;
    justify-content: center;
    font-weight:150;
}